@{
    ViewBag.Title = "XemGioHang";
    Layout = "~/Views/Shared/_LayoutGioHang.cshtml";
}

@using Web.Models;
@model List<GioHang>

@*<div class="form-row">
    <div class="form-group col-md-7 ">
    </div>
    <div class="form-group col-md-5 ">
        @if (Session["dn"] != null)
        {
            <a>Chào bạn, @Session["dn"]</a>
        }
    </div>

</div>*@
<div class="container" style="margin-top:30px">
    @if (Model != null)
    {
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <td>Mã sản phẩm </td>
                    <td>Tên sản phẩm</td>
                    <td>Giá </td>
                    <td>Hình ảnh</td>
                    <td>Số lượng</td>
                </tr>
            </thead>
            @foreach (var i in Model)
            {
                <tr>
                    <td>@i.masp</td>
                    <td>@i.tensp</td>
                    <td>@i.dongia</td>
                    <td>
                        <img src="~/Content/Image/@i.hinhanh" width="180" height="250" style="margin-left:120px"/></td>
                    <td>@i.soluong</td>
                    <td><a href="@Url.Action("XoaGioHang", "GioHang", new { ma = @i.masp })">&#10060</a></td>
                </tr>
            }
            <tr>
                <td colspan="5" class="text-danger">Thành tiền: @ViewBag.ThanhTien VND </td>
            </tr>
        </table>
    }

    else
    {
        <div class="form-row justify-content-center">
            <div class="text-danger">
                <a class="font-weight-bold">Giỏ hàng trống</a>
            </div>
        </div>
    }
    <div class="nav navbar">
        <a class="btn btn-block  btn-outline-info" href="@Url.Action("DatHang","GioHang")" style="width: 100px; height: 50px; margin-right: 20px;">Mua Hàng</a>
        <a class="btn btn-block  btn-outline-info" href="@Url.Action("HienThiNhomView","TrangChu")" style="width:100px ; height:50px;margin-right:20px;">Quay lại</a>

    </div>
</div>

